/* ==========================
   Header
========================== */
@use '../../assets/styles/variables' as vars;
@use '../../assets/styles/mixins' as mixins;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 100px;

  &-logo {
    font-size: 24px;
    font-weight: 500;

    img {
      width: 150px;
    }
  }

  &-nav {
    display: flex;
    gap: 57px;

    .nav-link {
      font-size: 24px;
      font-weight: vars.$font-weight-medium;
      color: vars.$black;
      text-decoration: none;
      position: relative; // Nécessaire pour le soulignement personnalisé

      &:hover {
        color: vars.$primary-red;
      }

      &.active::after {
        content: ''; // Éléments pseudo pour la ligne
        position: absolute;
        bottom: 0; // Place le soulignement sous le texte
        left: 0;
        width: 100%; 
        height: 2px; 
        background-color: vars.$black; 
      }
    }
  }

  @include mixins.mobile {
    margin:  20px 27px;

    &-nav {
      gap: 16px;

      .nav-link {
        font-size: 12px;
        text-transform: uppercase;
      }
    }

    &-nav .nav-link.active::after {
      display: none;
    }

    &-logo img{
      width: 120px; /* Logo mobile */
      height: auto;
    }
  }
}