/* ==========================
   Variables Globales
========================== */

// Variables pour les couleurs
$primary-red: #ff6060;
$white: #ffffff;
$black: #000000;
$gray: #cccccc;
$lightgray: #F6F6F6;
// Ajout d'un dégradé de gris foncé pour les images
$dark-gray: #333333;
$darker-gray: #222222;

// Variables pour la police Montserrat
$font-family-montserrat: 'Montserrat', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;